body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f7f7f7;
}

h1 {
  text-align: center;
  color: #0672bf;
  cursor: pointer;
}

.main-block {
  display: flex;
  margin-left: 40px;
  margin-right: auto;
}

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 60%;
  margin-right: auto;
}

.pokemon-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.2s ease;
}

.pokemon-card:hover {
  transform: scale(1.03);
}

.pokemon-card img {
  width: 210px;
  height: 170px;
}

.pokemon-types {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6px;
}

h3 {
  font-size: 25px;
  cursor: pointer;
}

.type {
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 0.8rem;
  color: #fff;
  text-transform: capitalize;
  font-weight: bold;
}

.type.fire {
  background-color: #f08030;
}
.type.water {
  background-color: #6890f0;
}
.type.grass {
  background-color: #78c850;
}
.type.electric {
  background-color: #f8d030;
  color: #000;
}
.type.ice {
  background-color: #98d8d8;
  color: #000;
}
.type.fighting {
  background-color: #c03028;
}
.type.poison {
  background-color: #a040a0;
}
.type.ground {
  background-color: #e0c068;
  color: #000;
}
.type.flying {
  background-color: #a890f0;
}
.type.psychic {
  background-color: #f85888;
}
.type.bug {
  background-color: #a8b820;
}
.type.rock {
  background-color: #b8a038;
}
.type.ghost {
  background-color: #705898;
}
.type.dark {
  background-color: #705848;
}
.type.dragon {
  background-color: #7038f8;
}
.type.steel {
  background-color: #b8b8d0;
  color: #000;
}
.type.fairy {
  background-color: #ee99ac;
}
.type.normal {
  background-color: #a8a878;
}

#load-more {
  margin-top: 40px;
  padding: 10px 10px;
  background-color: #0672bf;
  color: white;
  border: none;
  width: 60%;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
